# Build output
bin/
obj/

# Debug symbols / dlls
*.pdb
*.dll
*.exe
*.debug

# IDE files
*.DotSettings.user
.vscode/
.idea/
*.iml
*.suo

# Logs
*.log
*.cache

# Test build folders
test/*/bin/
test/*/obj/
test/*/*.dll
test/*/*.pdb